= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  
  .field
    = f.label :make
    = f.text_field :make
  
  .field
    = f.label :model
    = f.text_field :model  
  
  .actions
    = submit_tag ('Get the best deal!'), :class => "button orange"
  

