= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg 
  %p
    %strong If you have more than 1 option please tell us

    .field
      = f.label "Make 2nd choice"
      %br/
      = f.text_field :make2
    
    .field
      = f.label :model
      %br/
      = f.text_field :model2

      
    .field
      = f.label "Make 3rd choice"
      %br/
      = f.text_field :make3
    
    .field
      = f.label :model
      %br/
      = f.text_field :model3  
  
  %p 
    %strong Packages, Options and Accesories
    .field
      = f.label :description
      %br/
      = f.text_area :description 


  %p
    %strong Your Information (Kept private)
  .field
    = f.label :name
    = f.text_field :name
  
  .field
    = f.label :email
    = f.text_field :email
  
  .field
    = f.label :phone
    = f.text_field :phone  
  
  .actions
    = submit_tag ('Finish'), :class => "button orange"
  

