%p
  %b User:
  = @user.name
%p
  %b zip code:
  = @user.zip_code
%p
  %b phone
  = @user.phone
%p
  %b Email:
  = @user.email
%p
  %b Make:
  = @user.make
%p
  %b Model:
  = @user.model
%p
  %b Make 2:
  = @user.make2
%p
  %b Model 2: 
  = @user.model2
%p
  %b Make 3:
  = @user.make3
%p
  %b Model 3:
  = @user.model3
%p
  %b Description
  = @user.description


